<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
SOMETHING HAPPENED !!!!
<br/><br/>
<br/><br/>
<td th:text="${errorMessage}"></td>
<br/><br/>

<p>GO BACK TO <a href="/toGame">GAME PAGE</a></p>
</body>
</html>