<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<title>GAME PAGE</title>

Game :
<br/><br/>
<td th:text="${gameJson}"></td>

<br/><br/><br/>
<td th:text="${errorMessage}"></td>

<br/><br/><br/><br/>
<div ng-app="">
	<p>Name : <input type="text" ng-model="name"/></p>
	<h1>Hello {{name}}</h1>
</div>

</body>
</html>